.signup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
.signupcontainer{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    /* overflow-y: auto */
  }

  .heroBanner {
    padding: 3rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(var(--ifm-color-primary),var(--ifm-color-primary-darkest));
    color: var(--ifm-color-text);
  
  }
 

@media only screen and (min-width: 200px) {
    .signup-container{
        height: 600px;
    }
}

@media only screen and (min-width: 360px) {
    .signup-container{
        height: 715px;
    }
}