.heroBanner {
    padding: 3rem 0;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 25vh;
    background-image: linear-gradient(var(--ifm-color-primary),var(--ifm-color-primary-darkest));
    color: var(--ifm-color-text);
}

.heroTitle {
    font-size: 5rem;
    margin: 0%;
}

