.expiredNotice {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
  }

.cardContainer{
  text-align: center;
  width: 10rem;
  background: linear-gradient(180deg, var(--ifm-color-primary-dark) 65%, #010505 0%);
  border-radius:50%;
  border-style:ridge;
  border-color: #130606;
  border-block-color: var(--ifm-color-primary-accent);
  border-width: 5px;
  border-collapse: separate;
}

.clockContent > h1{
  color: var(--ifm-color-primary-accent);
  font-size: 3rem;
  padding-top: 30px;
}
 
.clockContent > h3{
  color: white;
  font-size: 20px;

}

.expiredNotice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}
  
.expiredNotice > p {
  font-size: 1.5rem;
}

.showCounter .countdownLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* font-weight: 400; */
  padding: 1rem;
  /* text-decoration: none; */
}

.showCounter .countdown {
  /* line-height: 1.25rem; */
  padding: 2rem 0.75rem 0 0.75rem;
  /* align-items: center; */
  display: flex;
  /* flex-direction: column; */
  color: var(--ifm-color-text);
}
  
.showCounter .countdown.danger {
  color: #ff0000;
}
  
.showCounter .countdown > p {
  margin: 1;
  font-size: 4rem;
}
  
.showCounter .countdown > span {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1rem;
}
  
@media screen and (max-width: 996px) {
  .cardContainer{
    width: 55px;
    height: 55px;
    border-width: 3px;
    background: black;
  }
  
  .clockContent > h1{
    color: var(--ifm-color-primary-accent);
    font-size: 1rem;
    padding-top: 15px;
  }
   
  .clockContent > h3{
    color: white;
    font-size: 10px;
  }

  /* .showCounter .countdownLink {
    padding: 2rem;
  } */
}

