.image{
    /* height: 300px;
    width: 250px; */
    margin-top: 10px;
    margin-bottom: 10px;
    overflow:hidden;
}

.card{
  width:65%
}

.background {
    background-image: linear-gradient(
      var(--ifm-color-primary-lightest),
      var(--ifm-color-primary-darkest)
 
    );
    height: 100%;
    padding: 2rem;
  }