.heroBanner {
    background-image: linear-gradient(var(--ifm-color-primary),var(--ifm-color-primary-darkest));
    text-align: center;
    padding: 3rem;
}

.heroTitle {
    font-size: 5rem;
    margin: 0%;
}

.heroParagraph {
    font-size: 2rem;
}

.ourSponsorsLogosContainer {
    background-color: hsla(45, 97%, 59%, 0.5);
    border: 2px solid black;
    border-radius: 20px;
    padding: 3rem;
}


.csulaLogo {
    width: 7rem;
    height: 7rem;
}

.sparkfunLogo {
    width: 15rem;
    height: 7rem;
}

.onrLogo {
    width: 15rem;
    height: 7rem;
}

.mathworksLogo {
    width: 15rem;
    height: 7rem;
}

.dassaultsystemesLogo {
    width: 15rem;
    height: 7rem;
}

.beComeSponsorContainer {
    text-align: center;
    padding: 2rem;
}

.becomeSponsorTitle {
    font-size: 3rem;
    margin-bottom: 1%;

}

.becomeSponsorParagraph {
    background-color: hsla(212, 97%, 59%, 0.38);
    padding: 10px;
    border-radius: 5px;
    border-left: 8px solid var(--ifm-color-primary-accent);
    font-size: 1.5rem;
}

.wrapperHowYouCanHelp {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;

}
.wrapperDiv1 {
    float:left;
}

.wrapperDiv1 > h2 {
    font-weight: 900;
    font-size: 2rem;
    margin-right: 2rem;
}

.wrapperDiv2 {
    border-left: 5px solid var(--ifm-color-primary-accent);
    overflow: hidden;
}

.wrapperDiv2 > p {
    font-weight: 900;
    font-size: 1.3rem;
    margin-left: 2rem;
    color: var(--ifm-color-primary);
}

#tierCard {
    height: 100%;
    text-align: left;
}

.tierCardTitle {
    text-align: center;
    font-size: 2rem;
}

.tierCardMoneyRange {
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

/* Change */
.sponsor_offer {
    margin: 10px;
    list-style-image: url('../../../static/img/favicon.ico');
}

ul li {
    font-size: large;
    margin: 5px;
    padding-left: 10px;
}

/* Moved to .sponsor_offer */
/* ul li::marker {
    content: url('../../../static/img/favicon.ico');

} */

.bronzeTierCard {
    background-color: #e5882a !important;
}

.silverTierCard {
    background-color: #bdb8b8 !important;
}

.goldTierCard {
    background-color: #ffc800 !important;
}


.contactUsContainer {
    background-image: linear-gradient(var(--ifm-color-primary-darkest),rgba(17, 17, 17, 0.878));
    text-align: center;
}



.contactTitle {
    font-size: 3rem;
    margin: 0%;
}

.cardsContainer {
    text-align: left;
    padding: 1rem;
}

.contactCard {
    margin: 20px;
    padding: 20px;
    line-height: 1.2rem;
}

.contactCard > h3 {
    margin-bottom: 15px;
}

.contactCard > p {
    margin-bottom: 10px;
}

.contactCardAccentColor {
    color: var(--ifm-color-primary);
    background-color:var(--ifm-color-primary-accent) !important;
    margin-bottom: 10px;
}


@media screen and (max-width: 996px) {
    .heroBanner {
      padding: 2rem;
    }

    .heroTitle {
      font-size: 3rem;
    }

    .heroParagraph {
        font-size: 1.3rem;
    }
    .csulaLogo {
        width: 4rem;
        height: 4rem;
    }

    .sparkfunLogo {
        width: 6rem;
        height: 3rem;
    }

    .onrLogo {
        width: 6rem;
        height: 3rem;
    }

    .mathworksLogo {
        width: 6rem;
        height: 3rem;
    }

    .dassaultsystemesLogo {
        width: 6rem;
        height: 3rem;
    }

    .becomeSponsorTitle {
        font-size: 2rem;
    }

    .becomeSponsorParagraph{
        font-size: 1rem;
    }

    .wrapperDiv1 > h2 {
        font-weight: 900;
        font-size: 1rem;
    }

    .wrapperDiv2 {
        border-left: 3px solid var(--ifm-color-primary-accent);
    }

    .wrapperDiv2 > p {
        font-size: .5rem;
    }

    .tierCardTitle {
        font-size: 1rem;
        margin: auto;
    }

    .tierCardMoneyRange {
        font-size: .5rem;
        margin: auto;

    }

    ul {
        padding: 3px;
        margin: 12px;
    }

    ul li {
        font-size: .4rem;
        padding: 2px;
        list-style-type: circle;
    }

    ul li::marker {
        content: unset;
    }

    .contactCard {
        margin: 10px;
        padding: 10px;
        line-height: 1rem;
    }

    .contactCard > h3 {
        font-size: .8rem;
        margin-bottom: 7px;
    }

    .contactCard > p {
        font-size: .5rem;
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 375px) {
    .heroBanner {
      padding: 1rem;
    }

    .heroTitle {
      font-size: 2rem;
    }

    .heroParagraph {
        font-size: 1rem;
    }

    .csulaLogo {
        width: 2rem;
        height: 2rem;
    }

    .sparkfunLogo {
        width: 6rem;
        height: 3rem;
    }

    .onrLogo {
        width: 6rem;
        height: 3rem;
    }

    .mathworksLogo {
        width: 6rem;
        height: 3rem;
    }

    .dassaultsystemesLogo {
        width: 6rem;
        height: 3rem;
    }

    .bluetrailLogo{
      width: 1rem;
      height: 1rem;
    }

    .vectornavLogo{
      width: 2rem;
      height: 1rem;
    }
    .blueroboticsLogo{
      width: 10px;
      height: 10px;
    }

    .becomeSponsorTitle {
        font-size: 1rem;
    }

    .becomeSponsorParagraph{
        font-size: .5rem;
    }

    .wrapperDiv1 > h2 {
        font-weight: 900;
        font-size: .5rem;
    }

    .wrapperDiv2 {
        border-left: 2px solid var(--ifm-color-primary-accent);
    }

    .wrapperDiv2 > p {
        font-size: .3rem;
    }

    .tierCardTitle {
        font-size: .5rem;
        margin: auto;
    }

    .tierCardMoneyRange {
        font-size: .3rem;
        margin: auto;

    }

    ul {
        padding: 3px;
        margin: 12px;

    }

    ul li {
        font-size: .2rem;
        padding: 2px;
        list-style-type: circle;
    }

    ul li::marker {
        content: unset;
    }

    .contactTitle {
        font-size: 1rem;
        margin: 0%;
    }

    .contactCard {
        margin: 10px;
        padding: 10px;
        line-height: 1rem;
    }

    .contactCard > h3 {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .contactCard > p {
        font-size: 5px;
        margin-bottom: 1px;
    }
}
