

.pageWrapper {
    overflow: hidden;
    text-align:center;
}

.li{
    list-style-type: none;
}

.linksCon{
    justify-content: align;
    align-self: center;
}

.icon{
    margin:20px;
}


.backgroundContainer{
    overflow:hidden;
    width:auto;
    padding:20px;
    margin-left:200px;
    margin-right:25px;
    padding-bottom:20px;
    background-color:gray;
    justify-content: center;
    border-radius: 100px;
}

.navbar{
   /* background-color: white; */
   margin-right: 10px;
   /* padding */
   padding: 15px;
   margin-bottom: 20px;
   /* width */
   width: auto;
   /* height: 2084px; */
   /* moves content to the left */
   float: left;
   text-align: center;
   position: fixed;

}


.navbar_elements{
    padding: 0px;
    margin: 0;
    list-style: none;
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 23px;
    position: fixed;
}

.nav_ind{
    border-top: 10px;
}

.myDIV {
    width: auto;
    text-align: center;
    justify-content: center;
    background-color:var(--ifm-color-primary-darkest) !important;
  }

.btn{
    background-color: rgb(205, 162, 23);
    border-radius: 30px;
    border-color: black;
    position: sticky;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;

}

/* Teams Navbar Button CSS */

.DPContent {
    /* Content does NOT show */
    display: none;

    /* Adds a space */
    position: relative;
    
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*  */
.DPContent a {
    color: black;
    text-decoration: none;
    display: block;
    
}

.DPContent a:hover{
    background-color: lightblue;
}

/* Show Function Helper */
.show {
    display: block;
    text-decoration: none;
}
.backgroundContainer iframe {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 30%;
    height: 50%;
  }
  @media screen and (max-width: 1000px) {
    .backgroundContainer iframe {
      width: 90%; /* Adjust the width as needed for small screens */
      height: 80%; /* Adjust the height as needed for small screens */
    }
  }