.pageWrapper {
    overflow: hidden;
    text-align: center;
}

.li {
    list-style-type: none;
}

.code {
    border: "2px solid";
    border-radius: "25px";
    margin: "20px";
    padding: "20px";
}


.navBackground {
    float: left;
    position: fixed;
    height: 75%;
}

.navbar {
    /* background-color: white; */
    margin-right: 10px;
    /* padding */
    padding: 15px;
    /* margin-bottom: 20px; */
    width: auto;
    float: left;
    text-align: center;

}

.btn {
    background-color: rgb(205, 162, 23);
    border-radius: 20px;
    border-color: black;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition-duration: 0.2s;
}

.btn:hover {
    background-color: var(--ifm-color-primary-lighter) !important;
}

.navbar_elements {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 23px;
}

.nav_ind {
    border-top: 10px;
}

.myDIV {
    background-color: var(--ifm-color-primary-darkest) !important;
    padding-left: 200px;
    padding-right: 20px;
    width: auto;
    text-align: center;
    justify-content: center;
    background-color: var(--ifm-color-primary-darkest) !important;
    /* margin: auto; */
}

/* Teams Navbar Button CSS */

.DPContent {
    /* Content does NOT show */
    display: none;
    /* Adds a space */
    position: relative;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/*  */
.DPContent a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: white;
}

.DPContent a:hover {
    background-color: lightblue;
}

/* Show Function Helper */
.show {
    display: block;
    text-decoration: none;

}

.myDIV h1 {
    font-size: 4rem;
    /* border-bottom: thick solid; */
    padding-bottom: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium';
}

.myDIV h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* .myDIV p.resources-section-p {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
} */

.myDIV a {
    font-size: 20px;
    font-weight: 600;
    border-color: rgb(122, 252, 226);
    color: rgb(207, 219, 76);
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 30px;

}